* {margin:0;padding:0;box-sizing:border-box;}
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:500);

body {
	color:#746b6c;
	background:url("https://campervancrazy.files.wordpress.com/2012/02/image4_mountain_road.jpg");
	background-size:cover;
	font-family: "Slabo 27px", serif;
	font-size: 18px;
}

h1  {
	font-size: 3em;
	font-family: "Fira Sans", cursive; 
	font-weight: 500;
	margin-bottom:0em;

}
li {
	font-weight:bold;
}
img {
	padding-left:12em;
}
#slogan {
	font-style: italic;
	font-size: 1.2em;
}
#contact a {
	color:white;
	margin-top:6em;
	margin-left:6em;
	
}
#about {
	background: rgba(255, 255, 255, 0.8);
	padding:3em;
}

