<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:700);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:500);
+* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:white;
	background:url("https://campervancrazy.files.wordpress.com/2012/02/image4_mountain_road.jpg");
	background-size:cover;
	font-family: "Slabo 27px", serif;
	font-size: 18px;
	width: 50%;
	margin: auto;
=======
* {margin:0;padding:0;box-sizing:border-box;}
body {
	color:white;
	background-color: #019875;
	font-family: Georgia, serif; 
	font-size: 16px;
>>>>>>> origin/master
}
h1  {
	font-size: 3em;
<<<<<<< HEAD
	font-family: "Fira Sans", cursive; 
	font-weight: 500;
	margin-bottom:0em;

=======
	font-family: "Arial Black", sans-serif;
	font-weight: 100;
	margin-bottom:1em;
>>>>>>> origin/master
}
li {
	font-weight:bold;
}
img {
	padding-left:12em;
}
#about div {
	margin:auto;
	width:600px;
}
#contact {
	margin:auto;
	width:600px;
}
#slogan {
	font-style: italic;
	font-size: 1.2em;
	background: gray, 3em;
}
#contact a{
	text-decoration: none;
}
