* {margin:0;padding:0;box-sizing:border-box;}

body {
	background:#4183D7;
}

.dresses img{
	border: 4px white solid;
	background:blue;
	margin-left: 9em;
}
.navabar {
	background: blue;
	float: left;

}
.navbar a{
	border: 2px #fff solid;
	background-color: gray;
	color:white;
	display: block;
	float:right;
	margin: 1em;
	padding: 2em;
	text-decoration:none;
}
.navbar p{
	float:right;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}