* {margin:0;padding:0;box-sizing:border-box;}

body {
	background:#4183D7;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
h1{
	color:white;
	font-family: 'Raleway', sans-serif;
	margin-left: 3em;
}
.dresses{
	background:#6C7A89;
	background-size: cover;
	width:80%;
	margin-left:4em;
	padding-left:3em;
}
.dresses img{
	background:blue;
	background-size: cover;
	margin-left: 4em;
}
.about {
	background: #red;
	color: white;
	margin-bottom: 90em;
	margin-left:20em;
	width:40%; 
	text-align: center;
}
.policy {
	color: white;
	margin-bottom: 4em;
	margin-left:20em;
	width:40%; 
	text-align: center;
}
nav a{
	background-color: #6C7A89;
	color:white;
	display: block;
	float:right;
	margin: 1em;
	padding: 1em;
	text-decoration:none;
}
nav p{
	float:left;
	color:white;
	font-size: 3em;
}