* {margin:0;padding:0;box-sizing:border-box;}

body {
	background:#4183D7;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
h1{
	color:white;
	font-family: 'Raleway', sans-serif;
	margin-left: 3em;
}
section {
	padding:4em 2em;
}
#dresses{
	background:#6C7A89;
}
#dresses img{
	float:left;
	padding:.5em;
	width:25%;
}
#about {
	background: red;
	color: white;
	text-align: center;
}
}
#policy {
	color: white;
	text-align: center;
}
header div {
	float:left;
}
nav {
	float:right;
}
nav a{
	background-color: #6C7A89;
	color:white;
	display: block;
	float:left;
	margin: 1em;
	padding: 1em;
	text-decoration:none;
}
.wrapper {
	margin:auto;
	max-width:75em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
